* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('455-1484x989.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container-form {
  display: flex;
  height: 500px;
  width: 400px;
  margin: 80px auto;
  background-color: #fff;
  border-radius: 5px;
}

.forms {
  padding: 10px;
  margin: auto;
}

.botao {
  display: grid;
  grid-column: 1;
  padding: 10px;
}

div > label {
  margin: 5px;
}

div > input {
  padding: 10px;
  margin: 5px;
  width: 100%;
}

div > textarea {
  padding: 10px;
  margin: 5px;
  width: 100%;
}

div > button {
  padding: 10px;
  margin: 5px;
  width: 100%;
}
